<ul class='list-group'>
    {{#each todos}}
        <a href='/todo/{{id}}' class='list-group-item'>{{title}}</a>
    {{/each}}
</ul>
<a type='button' class='btn btn-primary' style='margin-top: 2rem;' href='/todo/new'>
    New Todo
</a>